<section id="tips">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2><%= t(:tips) %></h2>
          <%= t(:tips_text).html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>