<section id="tours">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2><%= t(:tours) %></h2>

          <p><%= t(:tours_description) %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">

        <% @tours.each_with_index do |tour, key| %>
            <%= render partial: 'shared/tour_box', locals: {tour: tour, pos: key} %>
        <% end %>

      </div>

    </div>
  </div>
</section>
